.Done {
  color: green;
  font-size: 20px; /* Metnin boyutunu buradan ayarlayabilirsiniz */
}

.Bug {
  color: red;
  font-size: 20px; /* Metnin boyutunu buradan ayarlayabilirsiniz */
}
.Progress {
  color: orange;
  font-size: 20px; /* Metnin boyutunu buradan ayarlayabilirsiniz */
}
