<ol>
  <h3>Yapılacaklar listesi</h3>
  <li class="Done">Identity server Backend, JWT, Rol yapısı</li>
  <li class="Done">Core Projeler</li>
  <li class="Done">Sale Microservisi</li>
  <li class="Done">Dealer Microservisi</li>
  <li class="Done">Admin Microservisi </li>
  <li class="Done">RabitMq ve masstransit implementasyonu</li>
  <li class="Done">Admin Microservisinden diğer 3 veri Microservislere bağlanıp verilerin çekilmesi ve gösterilmesi</li>
  <li class="Progress">Api gateway implementasyonu</li>
  <li class="Progress">mikroservislerde rol Authorization işlemleri</li>
</ol>

<ol>
  <h2>Bug listesi</h2>
  <li class="Bug">Sale MicroFront'i kendi kendini tekrarlıyor. </li>
  <li class="Bug">Order List Map Problemi </li>
</ol>